<div id="contentWrap">
          <div id="contentBeneficios">                                                                                                                                          
		<a rel="nofollow" name="restfulie_features"></a>
        
        <div class="depoimentoClientes">
        	<p>

<h2>Client</h2>

<style>
.feature {
	border-bottom: 1px solid black;
	padding: 10px 20px 20px 10px;
}	
.feature_header {
	padding: 10px 0px 10px 10px;
	width: 70px;
}
</style>
<table style="border: 1px 0px 0px 0px solid black; border-collapse: collapse">
<tr class="feature"><th style="width: 300px; "><b>feature</b></th><th class="feature_header"><b>ruby</b></th><th class="feature_header"><b>java</b></th><th class="feature_header"><b>C#</b></th></tr>
<tr class="feature">
	<td><b>get entry point</b></td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client, :anchor => "get entry point" %></td>
	<td>yes</td>
	<td>yes</td>
</tr>
<tr class="feature">
	<td>post entry point</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client, :anchor => "create entry point" %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>local cache</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>304</td>
	<td>yes</td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>301</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client, :anchor => "301" %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>xhtml</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>atom feed</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client_atom, :anchor => "feed" %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>atom entry from feed</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client_atom, :anchor => "entry" %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>single atom entry</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td><b>xml</b></td>
	<td>yes</td>
	<td>yes</td>
	<td>yes</td>
</tr>
<tr class="feature">
	<td>json</td>
	<td>yes</td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>custom</td>
	<td>yes</td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>201 redirect</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client, :anchor => "create entry point" %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td><b>access web response and headers</b></td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client, :anchor => "response result" %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td><b>follow links</b></td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:client, :anchor => "following hyperlinks" %></td>
	<td>yes</td>
	<td>yes</td>
</tr>
<tr class="feature">
	<td>error handling</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
</table>

</p>

<p>

<h2>Server</h2>
<table style="border: 1px 0px 0px 0px solid black; border-collapse: collapse">
	<tr class="feature"><th style="width: 300px; "><b>feature</b></th><th class="feature_header"><b>ruby</b></th><th class="feature_header"><b>java</b></th><th class="feature_header"><b>C#</b></th></tr>
<tr class="feature">
	<td><b>transition links</b></td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server, :anchor => :transitions %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td><b>connected resource links</b></td>
	<td>yes</td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>etag</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:rendering_resources, :anchor => :etag %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>last modified</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:rendering_resources, :anchor => "last-modified" %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>406</td>
	<td>yes</td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>hypermedia driven 406</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>OPTIONS support</td>
	<td>   </td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>hypermedia driven OPTIONS</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>relation to external resources as links</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>xhtml</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>atom feed</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_atom, :anchor => :feed %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>atom feed + multi type content</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_atom, :anchor => :multitype %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>single atom entry</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td><b>xml</b></td>
	<td>yes</td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>json</td>
	<td>yes</td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>custom</td>
	<td>yes</td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>201 created</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:rendering_resources, :anchor => "201-created" %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>PATCH</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>HEAD</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>content negotiation</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:rendering_resources, :anchor => "content type negotiation" %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>custom representation serializers</td>
	<td>yes</td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>automatic 404 on resource not found</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_generic_controller, :anchor => "404" %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>automatic domain model loading</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_generic_controller, :anchor => :show %></td>
	<td>yes</td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default create behaviour</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_generic_controller, :anchor => :create %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default show behaviour</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_generic_controller, :anchor => :show %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default delete behaviour</td>
	<td><%= link_to "yes", :controller=>:restful_rails, :action =>:server_generic_controller, :anchor => :delete %></td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default list behaviour</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default search behaviour</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default update behaviour</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
<tr class="feature">
	<td>default patch behaviour</td>
	<td>   </td>
	<td>   </td>
	<td>   </td>
</tr>
</table>


</p>
</div>
</div>
</div>